@{
    ViewData["Title"] = "Home Page";
}

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./img/book.png" alt="">
					</div>
					<div class="shop-body">
						<h3>Travel<br>Collection</h3>
						<li><a href="@Url.Action("BookShowcase", "Books")" class="cta-btn">Show Books<i class="fa fa-arrow-circle-right"></i></a></li>
					</div>
				</div>
			</div>
			<!-- /shop -->
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./img/book.png" alt="">
					</div>
					<div class="shop-body">
						<h3>cartoon<br>Collection</h3>
						<li><a href="@Url.Action("BookShowcase", "Books")" class="cta-btn">Show Books<i class="fa fa-arrow-circle-right"></i></a></li>
					</div>
				</div>
			</div>
			<!-- /shop -->
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./img/book.png" alt="">
					</div>
					<div class="shop-body">
						<h3>moral stories<br>Collection</h3>
						<li><a href="@Url.Action("BookShowcase", "Books")" class="cta-btn">Show Books<i class="fa fa-arrow-circle-right"></i></a></li>
					</div>
				</div>
			</div>
			<!-- /shop -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->


<!-- NEWSLETTER -->
<div id="newsletter" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="newsletter">
					<p>Sign Up for the <strong>NEWSLETTER</strong></p>
					<form>
						<input class="input" type="email" placeholder="Enter Your Email">
						<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
					</form>
					<ul class="newsletter-follow">
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /NEWSLETTER -->
