@* 
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Password Reset Link Sent</h2>
<p>Please check your email for a link to reset your password.</p>

 *@
