@* @model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgotPassword</h2>



<h2>Forgot your password?</h2>
<p>Please enter your email address, and we'll send you a link to reset your password.</p>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
</form> *@
